// $icon-font-path: "/bower_components/sass-bootstrap/fonts/";
$fa-font-path: "/bower_components/font-awesome/fonts/";

@import "sass-bootstrap/lib/bootstrap";
@import "font-awesome/scss/font-awesome";
@import "header";
@import "home";
@import "calendar";
@import "footer";
@import "gallery";
@import "animation";

/* Content */
.default {
	border-bottom: 1px solid #eeeeee;
	padding-top: 30px;
	padding-bottom: 30px;

	&.odd {
		background: whitesmoke
	}

	&.calendar {
		margin-top: 25px;
	}

	.page-header {
		color: gray;
	}

	h1 {
		font-weight: 200;
		color: gray;
		span {
			color: lightcoral;
		}

		&.main {
			line-height: 20px;
			text-align: left;

			small {
				font-size: 55%;
			}
		}
	}

	p {
		color: #666;
		text-align: justify;
	}

	.mission,
	.owner {
		p {
			font-size: 16px;
			font-weight: 200;
		}

		.thumbnail {
			border: none;
		}
	}

	// .mission {
	// 	margin-top: 40px;
	// }

	.about-items {
		// margin-top: 35px;

		.thumbnail {
			border: none;
		}

		h3 {
			text-align: center;
			color: gray;
		}
	}
}

.col-md-4 {
	padding: 15px;
	padding-top:20px;

	p {
		color: #999;
	}

	&.attend i {
		color: deepskyblue;
	}

	&.learn i {
		color: blueviolet
	}

	&.play i {
		color: yellowgreen;
	}

	h4 {
		color: gray;
	}

	&.address,
	&.phone,
	&.email {
		i {
			color: lightcoral;
		}
	}
}
