/* cross fading between routes with ngView */

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/nikolay\/code\/sunflower_new\/app\/styles\/animation\.scss;
  }

  line {
    font-family: \000033;
  }
}

.view-container {
  position: relative;
}

@media -sass-debug-info {
  filename {
    font-family: file\:\/\/\/Users\/nikolay\/code\/sunflower_new\/app\/styles\/animation\.scss;
  }

  line {
    font-family: \000037;
  }
}

.view-frame.ng-enter {
  opacity: 0;
  -webkit-animation: .5s fade-in;
  animation: .5s fade-in;
  z-index: 3000;
}

@keyframes fade-in {
  /* line 17, ../../app/styles/animation.scss */
  from {
    opacity: 0;
  }

  /* line 18, ../../app/styles/animation.scss */
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade-in {
  /* line 25, ../../app/styles/animation.scss */
  from {
    opacity: 0;
  }

  /* line 26, ../../app/styles/animation.scss */
  to {
    opacity: 1;
  }
}

@keyframes fade-out {
  /* line 30, ../../app/styles/animation.scss */
  from {
    opacity: 1;
  }

  /* line 31, ../../app/styles/animation.scss */
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fade-out {
  /* line 38, ../../app/styles/animation.scss */
  from {
    opacity: 1;
  }

  /* line 39, ../../app/styles/animation.scss */
  to {
    opacity: 0;
  }
}