/* Styles for calendar */

/* line 2, ../../app/styles/calendar.scss */

#calendar-section {
  margin-top: 75px;
}

@media (max-width: 768px) {
  /* line 7, ../../app/styles/calendar.scss */

  #calendar-section {
    margin-top: 15px;
  }
}

@media (min-width: 320px) {
  /* line 13, ../../app/styles/calendar.scss */

  #calendar iframe {
    width: 290px;
    height: 300px;
  }
}

@media (min-width: 768px) {
  /* line 20, ../../app/styles/calendar.scss */

  #calendar iframe {
    width: 720px;
    height: 600px;
  }
}

@media (min-width: 992px) {
  /* line 27, ../../app/styles/calendar.scss */

  #calendar iframe {
    width: 940px;
    height: 600px;
  }
}

@media (min-width: 1200px) {
  /* line 35, ../../app/styles/calendar.scss */

  #calendar iframe {
    width: 1140px;
    height: 600px;
  }
}

/* line 43, ../../app/styles/calendar.scss */

.nav-pills li a {
  color: #555;
}

/* line 47, ../../app/styles/calendar.scss */

.nav-pills li a:hover,
.nav-pills li a:focus {
  background: white;
  color: #555;
}

/* line 55, ../../app/styles/calendar.scss */

.nav-pills li.active a,
.nav-pills li.active > a:hover,
.nav-pills li.active > a:focus {
  background: whitesmoke;
  color: lightcoral;
}

/* line 62, ../../app/styles/calendar.scss */

.tab-content {
  color: #666;
}

/* line 65, ../../app/styles/calendar.scss */

.tab-content #schedule {
  padding-top: 15px;
}

/* line 68, ../../app/styles/calendar.scss */

.tab-content #schedule h4 {
  color: gray;
}

/* line 73, ../../app/styles/calendar.scss */

.tab-content #calendar {
  padding-top: 25px;
  padding-bottom: 20px;
}