/* line 1, ../../app/styles/footer.scss */

.default.footer {
  padding-bottom: 25px;
  background: #eeeeee;
}

@media (max-width: 768px) {
  /* line 7, ../../app/styles/footer.scss */

  .default.footer {
    margin-bottom: 50px;
  }
}