/* Styles for gallery */

/* line 2, ../../app/styles/gallery.scss */

.gallery {
  margin-top: 75px;
  margin-bottom: 20px;
  padding: 0;
}

/* line 7, ../../app/styles/gallery.scss */

.gallery .img-thumbnail {
  border: 1px solid white;
  padding: 0;
  background: whitesmoke;
  overflow: hidden;
}

/* line 13, ../../app/styles/gallery.scss */

.gallery .img-thumbnail img {
  -webkit-transition: border-color .2s;
  -ie-transition: border-color .2s;
  transition: border-color .2s;
  -o-border-radius: 2px;
  -ie-border-radius: 2px;
  border-radius: 2px;
  border: 1px solid #eeeeee;
  width: 100%;
  height: auto;
}

/* line 31, ../../app/styles/gallery.scss */

.fullsize {
  z-index: 1000;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
  height: 100%;
}

/* line 41, ../../app/styles/gallery.scss */

.fullsize .img-responsive {
  -o-border-radius: 2px;
  -ie-border-radius: 2px;
  border-radius: 2px;
  margin: 0 auto;
  -webkit-box-shadow: 1px 1px 3px gray;
  box-shadow: 1px 1px 3px gray;
  border: 1px solid #eeeeee;
}

/* line 51, ../../app/styles/gallery.scss */

.fullsize .wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  border: 0;
}

/* line 58, ../../app/styles/gallery.scss */

.fullsize .wrapper td {
  vertical-align: middle;
  text-align: center;
}

/* line 62, ../../app/styles/gallery.scss */

.fullsize .wrapper td .loading {
  position: fixed;
  top: 46%;
  left: 49%;
  right: 49%;
  z-index: -1;
}

/* line 72, ../../app/styles/gallery.scss */

.fullsize .left,
.fullsize .right {
  position: fixed;
  top: 45%;
  bottom: 45%;
  color: #555;
}

/* line 78, ../../app/styles/gallery.scss */

.fullsize .left:hover,
.fullsize .right:hover {
  color: lightcoral;
}

/* line 83, ../../app/styles/gallery.scss */

.fullsize .left {
  left: 15px;
}

/* line 87, ../../app/styles/gallery.scss */

.fullsize .right {
  right: 15px;
}

/* line 91, ../../app/styles/gallery.scss */

.fullsize .back {
  position: fixed;
  top: 1%;
  right: 1%;
  color: #555;
}

/* line 97, ../../app/styles/gallery.scss */

.fullsize .back:hover {
  color: lightcoral;
}

@media (max-width: 768px) {
  /* line 104, ../../app/styles/gallery.scss */

  .gallery {
    margin-top: 10px;
  }

  /* line 107, ../../app/styles/gallery.scss */

  .gallery .img-thumbnail {
    padding: 0;
    margin-bottom: 0;
  }
}

@media (max-width: 767px) {
  /* line 115, ../../app/styles/gallery.scss */

  .gallery .img-thumbnail {
    min-height: 70px;
    overflow: hidden;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* line 122, ../../app/styles/gallery.scss */

  .gallery .img-thumbnail {
    height: 113px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* line 128, ../../app/styles/gallery.scss */

  .gallery .img-thumbnail {
    height: 149px;
  }
}

@media (min-width: 1200px) {
  /* line 134, ../../app/styles/gallery.scss */

  .gallery .img-thumbnail {
    height: 182px;
  }
}