/* line 1, ../../app/styles/home.scss */

#home {
  margin-top: -15px;
}

@media (max-width: 768px) {
  /* line 6, ../../app/styles/home.scss */

  #home {
    margin-top: 0;
  }

  /* line 9, ../../app/styles/home.scss */

  #home .default .container h1 {
    line-height: 25px;
  }

  /* line 14, ../../app/styles/home.scss */

  .carousel-caption {
    bottom: -20px;
  }

  /* line 17, ../../app/styles/home.scss */

  .carousel-caption h3 {
    font-size: 15px;
  }

  /* line 21, ../../app/styles/home.scss */

  .carousel-caption p {
    font-size: 10px;
  }
}

/* line 30, ../../app/styles/home.scss */

.carousel .item .carousel-caption h3 {
  color: yellowgreen;
}