<div class="default even calendar" id="calendar-section">

	<div class="container">

		<ul class="nav nav-pills">
			<li class="active">
				<a target="_self" href="#schedule" data-toggle="tab">Daily Schedule</a>
			</li>
			
			<li>
				<a target="_self" href="#calendar" data-toggle="tab">Calendar</a>
			</li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane fade in active" id="schedule">
				<h4>Morning</h4>
				<table class="table table-bordered">
					<tr ng-repeat="activity in morningSchedule">
						<td width="40%">{{ activity.time }}</td>
						<td width="60%">{{ activity.description }}</td>
					</tr>
				</table>

				<h4>Afternoon</h4>
				<table class="table table-bordered">
					<tr ng-repeat="activity in afternoonSchedule">
						<td width="40%">{{ activity.time }}</td>
						<td width="60%">{{ activity.description }}</td>
					</tr>
				</table>
			</div>

			<div class="tab-pane fade" id="calendar">
				<iframe src="https://www.google.com/calendar/embed?height=800&amp;wkst=1&amp;bgcolor=%23ffffff&amp;src=kcs6qmrkoivlfs5mgdavablft4%40group.calendar.google.com&amp;color=%232F6309&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="800" height="800" frameborder="0" scrolling="no"></iframe>
			</div>
		</div>
	</div>

</div>

<script type="text/javascript">
	document.body.scrollTop = document.documentElement.scrollTop = 0;
</script>